:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --header-text-color: #212121;
    --text-color: #757575;
    --secondary-text-color: #ffffff;
    --accent-color: #2196f3;
    --main-background-color: #ffffff;
    --secondary-background-color: #2f303a;
    --accent-background: #f5f4fa;
}

body {
    font-family: var(--primary-font-family);
    /* background-color: tomato; */
    color: #757575;
    background-color: #ffffff;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.nav-list.current {
    color: var(--accent-color);
}

/* ========header========== */

.header {
    background-color: var(--main-background-color);
}

.logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

/* .navigation {
} */

.nav-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-text-color);
}

.nav-list-link {
    color: var(--text-color);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.logo-studio-header {
    color: var(--header-text-color);
}

/* .header-contacts {
} */

/* ==========hero=========== */

.hero {
    background-color: var(--secondary-background-color);
}

.header-hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}
.main-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
}
.main-btn:hover,
.main-btn:focus {
    background-color: #188ce8;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* ========main========== */

.header-main {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-text-color);
}

.main-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.our-team {
    background-color: #f5f4fa;
}
.headerh2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
}

.header-pers {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
}

.pers-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

/* footer */

.footer {
    background-color: var(--secondary-background-color);
    font-style: normal;
}
.logo-studio-footer {
    color: var(--secondary-text-color);
}

.address-map {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.footer-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.header-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--header-text-color);
}

.kinds {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
    background: var(--accent-background);
    border-radius: 4px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--secondary-text-color);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
}
